<h2>Sign up</h2>

<div class"row">
<div class="span4">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well"}) do |f| %>
  <%= devise_error_messages! %>

   
     


 <%= f.input :first_name, placeholder: 'What IS your name?' %>

  <%= f.input :last_name, placeholder: 'Last name?' %>

   <%= f.input :profile_name, placeholder: 'Business Name' %>
  
  <%= f.input :email, placeholder: 'user@domain.com' %>

  <%= f.input :password, placeholder: '***********' %>

  <%= f.input :password_confirmation, placeholder: '***********' %>


  <div><%= f.button :submit, "Create User" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>

<div class="span8">
     <h2>Welcome to EntreCommunity<h2>

  </div>
</div>